# Git Ignore file, see https://git-scm.com/docs/gitignore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# nyc test coverage
.nyc_output

# dotenv environment variables file
.env

## Frontend
# e2e
frontend/e2e/*.js
frontend/e2e/*.map

# optional SASS cache
frontend/.sass-cache

# optional TypeScript output
frontend/out-tsc


## Miscellaneous
# Dependency directory
node_modules

# Distribution directory
dist

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# System Files
.DS_Store
Thumbs.db


## IDEs and editors
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
